* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Familjen Grotesk", sans-serif;
}

/* --- Navbar Styles --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 96px;
    margin-bottom: 80px;
}

img {
    display: block;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

ul li a {
    color: #201F1F;
    text-decoration: none;
    font-size: 20px;
}

button {
    border: none;
    border-radius: 100px;
    padding: 12px 36px;
    width: 196px;
    height: 49px;
    background: linear-gradient(to right, #00D1FF, #1A83FF);
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

/* --- Hero Styles --- */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.circle-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 5px solid transparent;
    background: linear-gradient(#ffffff, #ffffff) padding-box,
        linear-gradient(to bottom, #4DFBFB, #788EFF) border-box;
    z-index: -1;
}

.hero-content h1 {
    font-size: 96px;
    font-weight: 600;
    letter-spacing: 2%;
    color: #000000;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 30px;
    letter-spacing: 2%;
    color: #000000;
    margin-bottom: 30px;
}

.bottles {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.floating-item {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, #4DFBFB, #788EFF);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- features Styles --- */
.features {
    display: flex;
    align-items: center;
    height: 860px;
    width: 100%;
    margin-bottom: 80px;
}

.test {
    z-index: 100;
    position: absolute;
    top: 223px;
    left: 92%;

}

.features .left-side {
    position: relative;
    background-color: #dbc7be;
    width: 50%;
    height: 860px;
}

.features .left-side img {
    position: absolute;
    top: 0;

}

.features .right-side {
    background-color: #20292C;
    height: 860px;
    width: 50%;
}

.features .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features .right-side ul {
    display: flex;
    flex-direction: column;
}

.features .right-side ul li {
    display: flex;
    align-items: center;
}

.features .right-side ul li img {
    width: 56px;
    height: 56px;
}

.features .right-side ul li p {
    color: white;
    padding-left: 20px;
    font-size: 40px;
}

/* --- Cards Styles --- */

.product {
    margin: 0 96px 80px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-context h3 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.header-context p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.card-img img {
    width: 420px;
    height: 420px;
    border-radius: 24px;
    margin-bottom: 10px;
}

.card-p {
    color: #201F1F;
    font-size: 32px;
    margin-bottom: 20px;
}

/* --- About Styles --- */
.about {
    margin-bottom: 80px;
    background: url(assets/13264384_5195021\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
}

.about-container {
    display: flex;
}

.left-side {
    width: 50%;
    padding: 80px 0 0 95px;
}

.left-side h2 {
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}

.left-side h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
}

.left-side p {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 32px;
}

.right-side {
    width: 50%;
    padding: 80px 197px 80px 102px;
}

.right-side .cards {
    border: 1px solid #fff;
    border-radius: 24px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.30), hsla(0, 0%, 0%, 0.10), hsla(0, 0%, 100%, 0.20));
    box-shadow: 0px 8px 20px 0px hsla(0, 0%, 0%, 0.20);
    backdrop-filter: blur(20px);
}

.right-side span {
    display: block;
    padding-right: 30px;
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.right-side p {
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.right-side .cards:first-child {
    width: 386px;
}

.right-side .cards:nth-child(2) {
    width: 463px;
}

.right-side .cards:nth-child(3) {
    width: 393px;
}

.right-side .cards:last-child {
    width: 431px;
}

/* --- Footer Styles --- */
.footer-continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #201F1F;
    height: 216px;
    /* width: 100%; */
}

.group-1 {
    display: flex;
    justify-content: space-between;
    padding: 40px 96px 46px;
    width: 100%;
}

.group-1 .links ul li a {
    color: #fff;
    font-size: 20px;
}

.group-2 {
    display: flex;
    justify-content: space-between;
    padding: 0 102px 46px;
    width: 100%;
}

.group-2 .social {
    display: flex;
    gap: 10px;
}

.group-2 .links-qa ul li a {
    color: #fff;
    font-size: 20px;
}

.group-3 {
    display: flex;
    background-color: #323232;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.group-3 a {
    color: #858585;
    text-decoration: none;
}

@media (max-width: 1024px) {
    nav {
        display: none;
    }

    header button {
        display: none;
    }

    header {
        justify-content: center;
    }

    .card-header {
        flex-direction: column;
        align-items: center;
    }

    .header-context p {
        margin-bottom: 10px;
    }

    .card-container {
        text-align: center;
    }

    .about-container {
        flex-direction: column;
        justify-content: center;
    }

}